*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.reset__home__container{
    background-image: url('../../../src/Assets/bg-svg-f.svg');
    background-size:cover;
    background-color: rgb(248, 248, 248, 0.5);
    height: 90vh;
}

.reset__container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-inline: auto;
    padding-top: 120px;
    background-color: rgb(248, 248, 248, 0);
}

.reset__form__container{
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    background-color: rgb(255, 255, 255, 1);
}

.reset__info__container{
    flex: 1;
    padding: 10px;
    margin: 5px;
    background-color: rgb(248, 248, 248, 0);
}

.reset__info__container h1{
    font-size: 50px;
}

.reset__form__container>div{
    text-align: center;
    margin-block: 25px;
    padding-block: 5px;
}

.reset_form__container, .reset__title {
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 15px;
    color: #344767;
    text-align: center;
}

form>div>div{
    padding: 10px;
    width: 80%;
    margin: auto;
}

.reset__card>div { 
    padding-bottom: 25px;
}

.reset__card p { 
    padding-inline: 110px;
    font-size: 1.1em;
    /* text-align: left; */
    color: #344767;
}

.reset__aact__exists{
    width: 80%;
    font-size: 1.2em;
    padding-block: 10px;
}

.reset__aact__exists a{
    text-decoration: none;
    color: #FF8500
}

form>div>div>div>input{
    height:100%;
    width: 95%;
    font-size: 1.3em;
    padding-block: 10px;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px ;
}

.reset__pswdom__container{
    display: flex;
    flex-direction: row;
    align-content: center;
} 

.reset__pswdom__container button{
    margin-left: -30px;
    margin-top: 20px;
    height: 80%;
    background-color: transparent;
}

.custom__icon{
    color: red;
    size: 4em;

}

.resetbtn{
    background-color: blue;
    color: white;
    height:100%;
    width: 100%;
    font-size: 1.3em;
}

.reset__submitted {
    align-content: center;
}

.reset__submitted__title{
    font-weight: bolder;
    color: #008000;
    padding-top: 5px;
    padding-bottom: 15px;
}

.reset__submitted>p {
    font-size:larger; 
}

.reset__info__container{
    padding: 75px;
}

.reset__about{
    color: #FF8500;
}

.reset__info__container .reset__info{
    padding-block-start: 25px;
    line-height: 1.5;
    color: gray;
}

.reset__span a{
    color: #FF8500;
    text-decoration: none;
}

.reset__span a:hover{
    cursor:pointer;
}

.reset__new__account{
    padding-block: 10px;
    background-color: #FF8500;
    color: white;
    font-size: small;
    margin-block-start: 30px;
    border: none;
    border-radius: 5px;
    padding-inline: 25px;
}